{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/trial.css' %}">
{% endblock css %}

{% block title %}Page buat belajar{% endblock title %}

{% block content %}
<div class="tampilan">
    <h1>ini ceritanya page buat belajar ya mek</h1>
</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/trial.js' %}"></script>
{% endblock js %}