{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/landingpage.css' %}">
{% endblock css %}

{% block title %}Jakunku Homepage{% endblock title %}

{% block content %}
<div class="tampilan">
    <h1>Belajar ya mek biar ni proyek kelarr...</h1>
    <h2 class="poppins">klo belajar akses ke <a href="trial/">page buat latihan</a></h2>
</div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/landingpage.js' %}"></script>
{% endblock js %}